<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Thinkful: Lesson 2.6 - ngMadLib</title>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
	<script type="text/javascript" src="app.js"></script>
</head>
<body ng-app="ngMadLibApp">
	<header>
		<img src="img/mad-lib-happy-face.png" alt="Black and white smiley face">
		<img src="img/ng-mad-libs-logo.png" alt="ngMadLibs logo">
	</header>
	<label for="female-name">Female Name</label>
	<input ng-model="femaleName" id="female-name" type="text" />
	<label for="job-title">Job Title</label>
	<input ng-model="jobTitle" id="job-title" type="text" />
	<label for="tedious-task">Tedious Task</label>
	<input ng-model="tediousTask" id="tedious-task" type="text" />
	<label for="dirty-task">Dirty Task</label>
	<input ng-model="dirtyTask" id="dirty-task" type="text" />
	<label for="celebrity">Celebrity</label>
	<input ng-model="celebrity" id="celebrity" type="text" />
	<label for="useless-skill">Useless Skill</label>
	<input ng-model="uselessSkill" id="useless-skill" type="text" />
	<label for="adjective">Adjective</label>
	<input ng-model="adjective" id="adjective" type="text" />
	<label for="obnoxious-celebrity">Obnoxious Celebrity</label>
	<input ng-model="obnoxiousCelebrity" id="obnoxious-celebrity" type="text" />
	<label for="huge-number">Huge Number</label>
	<input ng-model="hugeNumber" id="huge-number" type="text" />
	<p>{{ femaleName }} was a {{ jobTitle }} who loved technology. Although she loved parts of her job, she absolutely hated  {{ tediousTask }} and {{ dirtyTask }}. So, {{ femaleName }} met with her life mentor {{ celebrity }} who told her to learn how to {{ uselessSkill }} with Thinkful. Thinkful didn't offer a course on {{ uselessSkill }} so she studied programming instead.</p>
	<p>What a great decision! With her new skills, {{ femaleName }} built a(n) {{adjective}} robot named {{ obnoxiousCelebrity }} that not only loved {{ dirtyTask }} but did it {{ hugeNumber }} faster. </p>
</body>
</html>