<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Thinkful: Lesson 2.6 - ngMadLib</title>
	<link rel="stylesheet" type="text/css" href="dist/style.css">
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
	<script type="text/javascript" src="app.js"></script>
</head>
<body ng-app="ngMadLibApp" ng-controller="ngMadLibCtrl">
	<header>
		<h1>ngMadLib Angular App</h1>
		<img src="img/mad-lib-happy-face.png" alt="Black and white smiley face">
		<img src="img/ng-mad-libs-logo.png" alt="ngMadLibs logo">
	</header>
	<section id="user-input">
		<h2>Your Input!</h2>
		<div>
			<label for="female-name">Female Name</label>
			<input ng-model="femaleName" id="female-name" type="text" />
		</div>
		<div>
			<label for="job-title">Job Title</label>
			<input ng-model="jobTitle" id="job-title" type="text" />
		</div>
		<div>
			<label for="tedious-task">Tedious Task</label>
			<input ng-model="tediousTask" id="tedious-task" type="text" />
		</div>
		<div>
			<label for="dirty-task">Dirty Task</label>
			<input ng-model="dirtyTask" id="dirty-task" type="text" />
		</div>
		<div>
			<label for="celebrity">Celebrity</label>
			<input ng-model="celebrity" id="celebrity" type="text" />
		</div>
		<div>
			<label for="useless-skill">Useless Skill</label>
			<input ng-model="uselessSkill" id="useless-skill" type="text" />
		</div>
		<div>
			<label for="adjective">Adjective</label>
			<input ng-model="adjective" id="adjective" type="text" />
		</div>
		<div>
			<label for="obnoxious-celebrity">Obnoxious Celebrity</label>
			<input ng-model="obnoxiousCelebrity" id="obnoxious-celebrity" type="text" />
		</div>
		<div>
			<label for="huge-number">Huge Number</label>
			<input ng-model="hugeNumber" id="huge-number" type="text" />
		</div>
	</section>
	<section id="content">
		<h2>Result</h2>
		<p><span ng-if="femaleName === ''" class="need-input">Female Name</span>{{ femaleName }} was a <span ng-if="jobTitle === ''" class="need-input">Job Title</span>{{ jobTitle }} who loved technology. Although she loved parts of her job, she absolutely hated <span ng-if="tediousTask === ''" class="need-input">Tedious Task</span>{{ tediousTask }} and <span ng-if="dirtyTask === ''" class="need-input">Dirty Task</span>{{ dirtyTask }}. So, <span ng-if="femaleName === ''" class="need-input">Female Name</span>{{ femaleName }} met with her life mentor <span ng-if="celebrity === ''" class="need-input">Celebrity</span>{{ celebrity }}, who told her to learn how to <span ng-if="uselessSkill === ''" class="need-input">Useless Skill</span>{{ uselessSkill }} with Thinkful. Thinkful didn't offer a course on <span ng-if="uselessSkill === ''" class="need-input">Useless Skill</span>{{ uselessSkill }}, so she studied programming instead.</p>
		<p>What a great decision! With her new skills, <span ng-if="femaleName === ''" class="need-input">Female Name</span>{{ femaleName }} built a(n) <span ng-if="adjective === ''" class="need-input">Adjective</span>{{adjective}} robot named <span ng-if="obnoxiousCelebrity === ''" class="need-input">Obnoxious Celebrity</span>{{ obnoxiousCelebrity }} that not only loved {{ dirtyTask }} but did it <span ng-if="hugeNumber === ''" class="need-input">Huge Number</span>{{ hugeNumber }}x faster.</p>
	</section>
</body>
</html>