header {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-bottom: 10px;
	border-bottom: 5px dotted black;
}

section {
	padding: 20px;
}

h1 {
	display: none;
}

h2 {
	margin: 0;
	margin-bottom: 10px;
}

#user-input {
	border-bottom: 5px dotted black;
	padding: 30px;
	display: flex;
	flex-wrap: wrap;
}

#user-input div {
  flex: 1 1 300px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

#user-input h2 {
	flex-basis: 100%;
}

label {
	padding: 10px;
}

input {
	padding: 5px;
	flex: 1;
}

#content p {
	line-height: 1.5;
}

.need-input {
	color: red;
	border-bottom: 2px solid red;
}